.el-card {
  box-shadow: 0 1px 1px #ccc !important;
}
.mainTable {
  margin-top: 20px;
}
.paginationWrap {
  margin-top: 15px;
}
.searchWrap .el-input {
  margin-right: 14px;
}
.searchWrap .inputArea {
  min-width: 300px;
}
